
.main-container{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    background-color: #F8EAD8;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 20%;
}


.main-img{
    /* margin: 20px; */
    padding-top: 10px;
    padding-bottom: 30px;
}
.show-img{
    width: 120px;
    height: 118px;
}
.peak-img{
    width: 120px;
    height: 118px;
}
.hide-img{
    width: 120px;
    height: 118px;
}
.password-container{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
}
.username{
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    outline: none;
}
.pass{
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: none;
}
.showIcon{
    font-size: 30px;
    padding-left: 10px;
}
